force-app/main/default/flows/c4ct_Demo_Data_Load_for_Calendar_to_Contact_Tracing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Call Apex class to create calendar Events with peer attendees (EventRelations)</description>
        <name>Create_Events</name>
        <label>Create Events</label>
        <locationX>1529</locationX>
        <locationY>57</locationY>
        <actionName>demoEventCreator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ConfirmationScreen</targetReference>
        </connector>
        <inputParameters>
            <name>employeeNumber</name>
            <value>
                <elementReference>EmployeeNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>numEvents</name>
            <value>
                <elementReference>Input_Number_Events</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>runningUserId</name>
            <value>
                <elementReference>Get_Logged_in_User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <description>Clear the EmployeeNumber from the current logged in user.  As of 6/20/2020, this Employee number erroneously matches a Contact in the Work.com Demo Org.  Since the sample Events are created in the logged in user&apos;s calendar, we need to make sure the erroneous contact doesn&apos;t show up as a peer in contact tracing.</description>
        <name>Assign_Null_to_Logged_In_User_Employee_Number</name>
        <label>Assign Null to Logged In User Employee Number</label>
        <locationX>663</locationX>
        <locationY>257</locationY>
        <assignmentItems>
            <assignToReference>Get_Logged_in_User.EmployeeNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Logged_In_User_Employee_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign default variables</description>
        <name>Assign_Variables</name>
        <label>Assign Default Variables</label>
        <locationX>179</locationX>
        <locationY>60</locationY>
        <assignmentItems>
            <assignToReference>startDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>endDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numEvents</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Start_Date_Adjustment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>A User for this Contact Tracing Person Account does not exist so create one.</description>
        <name>Create_Contact_Tracing_User</name>
        <label>Create Contact Tracing User</label>
        <locationX>1275</locationX>
        <locationY>394</locationY>
        <assignmentItems>
            <assignToReference>ctUser.EmployeeNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmployeeNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ctUser.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContactTracingRecord.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ctUser.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContactTracingRecord.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ctUser.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!getContactTracingRecord.FirstName}+&apos;--&apos;+{!Get_Logged_in_User.Email}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ctUser.Alias</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&apos;x&apos;+{!getContactTracingRecord.LastName}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ctUser.EmailEncodingKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Logged_in_User.EmailEncodingKey</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ctUser.LanguageLocaleKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Logged_in_User.LanguageLocaleKey</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ctUser.LocaleSidKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Logged_in_User.LocaleSidKey</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ctUser.TimeZoneSidKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Logged_in_User.TimeZoneSidKey</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ctUser.Username</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!getContactTracingRecord.FirstName}+&apos;--&apos;+{!Get_Logged_in_User.Email}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ctUser.ProfileId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Standard_Profile.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Contact_Tracing_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_EmployeeNumber</name>
        <label>Set EmployeeNumber</label>
        <locationX>673</locationX>
        <locationY>60</locationY>
        <assignmentItems>
            <assignToReference>EmployeeNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContactTracingRecord.HealthCloudGA__SourceSystemId__pc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Logged_in_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the User ID from the newly created Contact Tracing User</description>
        <name>Set_User_ID_from_ctUser</name>
        <label>Set User ID from ctUser</label>
        <locationX>1529</locationX>
        <locationY>394</locationY>
        <assignmentItems>
            <assignToReference>UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ctUser.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_UserId</name>
        <label>Set UserId</label>
        <locationX>1403</locationX>
        <locationY>57</locationY>
        <assignmentItems>
            <assignToReference>UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set default start date backward in time.</description>
        <name>Start_Date_Adjustment</name>
        <label>Start Date Adjustment</label>
        <locationX>305</locationX>
        <locationY>60</locationY>
        <assignmentItems>
            <assignToReference>startDate</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>14.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Input_Parameters</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If there is no User whose EmployeeNumber matches this Person Account&apos;s Source System ID, warn the user.</description>
        <name>User_Exists</name>
        <label>User Exists</label>
        <locationX>1266</locationX>
        <locationY>237</locationY>
        <defaultConnector>
            <targetReference>Get_Standard_Profile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User Does Not Exist Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Exists_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_UserId</targetReference>
            </connector>
            <label>User Exists Outcome</label>
        </rules>
    </decisions>
    <description>Prep User record and load sample Events for the Work.com: Calendar to Contact Tracing tool</description>
    <formulas>
        <description>User.Id of the Logged In User</description>
        <name>loggedInUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Demo: Data Load for Calendar to Contact Tracing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demo: Data Load for Calendar to Contact Tracing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Contact_Tracing_User</name>
        <label>Insert Contact Tracing User</label>
        <locationX>1409</locationX>
        <locationY>394</locationY>
        <connector>
            <targetReference>Set_User_ID_from_ctUser</targetReference>
        </connector>
        <inputReference>ctUser</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get the logged in user to use information when creating a new Contact Tracing User</description>
        <name>Get_Logged_in_User</name>
        <label>Get Logged in User</label>
        <locationX>813</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Null_to_Logged_In_User_Employee_Number</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loggedInUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Profile</name>
        <label>Get Standard Profile</label>
        <locationX>1142</locationX>
        <locationY>394</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Contact_Tracing_User</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>&apos;Standard User&apos;</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the User for this Contact Tracing Person Account where User.EmployeeNumber = Account.HealthCloudGA__SourceSystemId__pc</description>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>1274</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Exists</targetReference>
        </connector>
        <filters>
            <field>EmployeeNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getContactTracingRecord.HealthCloudGA__SourceSystemId__pc</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Contact Tracing (PersonAccount) record from which this flow was launched.</description>
        <name>getContactTracingRecord</name>
        <label>Get Contact Tracing Record</label>
        <locationX>538</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_EmployeeNumber</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactTraceRecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Clear the EmployeeNumber from the current logged in user.  As of 6/20/2020, this Employee number erroneously matches a Contact in the Work.com Demo Org.  Since the sample Events are created in the logged in user&apos;s calendar, we need to make sure the erroneous contact doesn&apos;t show up as a peer in contact tracing.</description>
        <name>Clear_Logged_In_User_Employee_Number</name>
        <label>Clear Logged In User Employee Number</label>
        <locationX>814</locationX>
        <locationY>257</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <inputReference>Get_Logged_in_User</inputReference>
    </recordUpdates>
    <screens>
        <name>ConfirmationScreen</name>
        <label>Confirmation</label>
        <locationX>1640</locationX>
        <locationY>57</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CompletionConfirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(69, 186, 61);&quot;&gt;EVENT CREATION COMPLETE&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;﻿Sample Events have been created in your calendar with this Contact Tracing employee with peers added as guests.  You can now use the &quot;&lt;/span&gt;Load Calendar for Contact Tracing&quot; tool.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Input_Parameters</name>
        <label>Get Input Parameters</label>
        <locationX>421</locationX>
        <locationY>60</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getContactTracingRecord</targetReference>
        </connector>
        <fields>
            <name>FlowDescription</name>
            <fieldText>&lt;p&gt;This tool will load calendar Events with team member attendees into your calendar.  You can choose a start date (default 2 weeks ago) and end date (default today) for Events.  You can also choose the number of events/peers which should show up on the Contact Tracing graph once you use the &quot;Load Calendar for Contact Tracing&quot; tool. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>startDate</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Choose the beginning date for which meetings should be created.  Given a 2 week incubation period for COVID-19, it is recommended that you start 2 weeks back from today.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>End_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>endDate</elementReference>
            </defaultValue>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Provide an end date which created meetings should not go past.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Input_Number_Events</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>numEvents</elementReference>
            </defaultValue>
            <fieldText>Number of Events/Peers</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Choose the number of peers that should show up on the contact tracing graph after you use the &quot;Load Calendar for Contact Tracing&quot; tool.  This setting will drive the number of Events that are created in the calendar, which drives the number of peers.  Note that the number of peers is limited by the number of Users you have loaded into your org.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>60</locationY>
        <connector>
            <targetReference>Assign_Variables</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactTraceRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ctUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>EmployeeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmployeeNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmployeeNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Latest date for which shifts will be pulled into contact tracing encounters.</description>
        <name>endDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <description>Number of Events that will be created in the calendar.</description>
        <name>numEvents</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>15.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>startDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateValue>2020-06-01</dateValue>
        </value>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
